/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
   * Remove default margin.
   */
body {
  margin: 0;
}

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
[hidden],
template {
  display: none;
}

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
  font-weight: bold;
}

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
  font-style: italic;
}

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000;
}

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0;
}

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px;
}

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
   * Contain overflow in all browsers.
   */
pre {
  overflow: auto;
}

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible;
}

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
button,
select {
  text-transform: none;
}

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
   * Remove inner padding and border in Firefox 4+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
input {
  line-height: normal;
}

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * Define consistent border, margin, and padding.
   */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto;
}

/**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
optgroup {
  font-weight: bold;
}

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url("../font/S-CoreDream-4Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url("../font/S-CoreDream-5Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url("../font/S-CoreDream-6Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url("../font/S-CoreDream-8Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url("../font/S-CoreDream-9Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

div#content.sub01 div.sub-head {
  background: #74C8FF;
}

div#content.sub01 div.sub-head.fix {
  background: rgba(116, 200, 255, 0.8);
}

div#content.sub02 div.sub-head {
  background: #91DCD2;
}

div#content.sub02 div.sub-head.fix {
  background: rgba(145, 220, 210, 0.8);
}

div#content.sub03 div.sub-head {
  background: #88C46F;
}

div#content.sub03 div.sub-head.fix {
  background: rgba(136, 196, 111, 0.8);
}

div#content.sub04 div.sub-head {
  background: #FFCE48;
}

div#content.sub04 div.sub-head.fix {
  background: rgba(255, 206, 72, 0.8);
}

div#content.sub05 div.sub-head {
  background: #8FABE3;
}

div#content.sub05 div.sub-head.fix {
  background: rgba(143, 171, 227, 0.8);
}

/* basic */
.pagenation {
  display: inline-block;
  text-align: center;
  font-size: 0;
  margin: 50px 0 60px;
  padding: 0 !important;
  width: 100%;
}

.pagenation a {
  background: white;
}

.pagenation a,
.pagenation strong {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #999999;
  border: 1px solid #999;
  width: 24px;
  line-height: 22px;
  margin: 0 2px;
}

@media (min-width: 1200px) {
  .pagenation a,
  .pagenation strong {
    width: 32px;
    line-height: 30px;
    font-size: 16px;
  }
}

.pagenation a.jump, .pagenation a.move,
.pagenation strong.jump,
.pagenation strong.move {
  font-size: 0;
  position: relative;
  border: 1px solid #ccc;
}

.pagenation a.jump i, .pagenation a.move i,
.pagenation strong.jump i,
.pagenation strong.move i {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #a5a5a5;
  font-size: 18px;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.pagenation .active,
.pagenation strong {
  color: #fff;
  background: #555555;
  border-color: transparent;
  font-weight: normal;
  font-weight: 500;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

s
input[type="password"] {
  font-family: sans-serif;
}

s
input[type="password"]::-webkit-input-placeholder {
  font-family: "S-CoreDream", "Malgun Gothic", "apple sd gothic neo", sans-serif;
}

s
input[type="password"]:-ms-input-placeholder {
  font-family: "S-CoreDream", "Malgun Gothic", "apple sd gothic neo", sans-serif;
}

s
input[type="password"]::-ms-input-placeholder {
  font-family: "S-CoreDream", "Malgun Gothic", "apple sd gothic neo", sans-serif;
}

s
input[type="password"]::placeholder {
  font-family: "S-CoreDream", "Malgun Gothic", "apple sd gothic neo", sans-serif;
}

.sr-only {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* default input */
input,
select,
textarea {
  border-radius: 0;
  background-clip: padding-box;
  /*
        @media all and (max-width: 1199px) {
            appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -webkit-appearance: none;

            &::-ms-expand {
                display: none;
            }
        }
    */
}

a {
  text-decoration: none;
  color: #404040;
}

button {
  outline: none;
  border-radius: 0;
}

/* default btn */
.btn {
  display: inline-block;
  vertical-align: baseline;
  outline: none;
  border: 1px solid #999;
  background: #E9E9E9;
  line-height: 46px;
  padding: 0 20px;
  margin: 0 2px 4px;
  font-size: 18px;
  color: #555;
  font-weight: 500;
}

@media (min-width: 1200px) {
  .btn {
    line-height: 52px;
    font-size: 20px;
    min-width: 140px;
  }
}

.btn.main {
  background: #4F6BAA;
  border: 1px solid #2C4988;
  color: #fff;
  border-color: transparent;
}

.btn.sub {
  background: #1f222d;
  color: #fff;
  border-color: transparent;
}

.btn.btn-ms {
  line-height: 26px;
  font-size: 13px;
  padding: 0 15px;
}

.btn.btn-xs {
  line-height: 20px;
  font-size: 12px;
  padding: 0 10px;
}

.btn u {
  display: inline-block;
  text-decoration: none;
  padding: 0 0 0 4px;
  opacity: 0.8;
  font-size: 0.8em;
  font-weight: 200;
}

.btn i {
  position: relative;
  top: 2px;
  margin: 0 4px 0 0;
  font-size: 16px;
}

.btn-set {
  margin: 20px 0;
  font-size: 0;
}

.btn-set.center {
  text-align: center;
}

.btn-set.right {
  text-align: right;
}

.btn-set.big .btn {
  line-height: 46px;
  padding: 0 20px;
  min-width: 140px;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .btn-set.big .btn {
    line-height: 60px;
    padding: 0 50px;
    font-size: 20px;
    min-width: 160px;
  }
}

.btn-set.full .btn {
  width: 100%;
}

@media (min-width: 1200px) {
  .btn-set.full .btn {
    width: auto;
    min-width: 200px;
  }
}

.btn-set.align div {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  text-align: center;
}

@media (min-width: 1200px) {
  .btn-set.align div {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .btn-set.align div.left {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .btn-set.align div.right {
    text-align: right;
  }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.on {
  display: block;
}

.modal .modal-content {
  position: relative;
  background-color: #fff;
  margin: 30vh auto 0;
  padding: 20px;
  width: calc(100% - 20px);
}

@media (min-width: 1200px) {
  .modal .modal-content {
    width: 500px;
  }
}

.modal .modal-content.big {
  width: calc(100% - 40px);
}

@media (min-width: 1200px) {
  .modal .modal-content.big {
    width: 600px;
  }
}

.modal .modal-content h2 {
  font-size: 20px;
  margin: 0 0 20px;
  padding: 0 0 10px;
  border-bottom: 2px solid #333;
}

.modal .modal-content h2 button {
  position: absolute;
  right: 20px;
  bottom: 10;
  border: none;
  background: transparent;
  width: 22px;
  height: 22px;
  font-size: 0;
  background: url("../images/icon-close.svg") no-repeat center/100% auto;
}

.modal .modal-content.notitle h2 {
  font-size: 0;
  margin: 0;
  padding: 0;
  border: none;
}

.modal .modal-content div.inside p.info {
  margin: 0 0 10px;
}

.modal .modal-content div.inside div.text-check {
  border: 1px solid #d4d4d4;
}

.modal .modal-content div.inside div.text-check input {
  height: 46px;
  border: none;
  width: 100%;
  outline: none;
  padding: 10px;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside div.text-check input {
    width: 280px;
  }
}

.modal .modal-content div.inside div.text-check span {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #1c7cc2;
  padding: 5px 0;
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside div.text-check span {
    display: inline-block;
  }
}

.modal .modal-content div.inside div.co-check {
  font-size: 0;
  background: #efefef;
  padding: 16px;
  border-radius: 10px;
}

.modal .modal-content div.inside div.co-check span.select-outline {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 6px;
  width: 100%;
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside div.co-check span.select-outline {
    width: 114px;
    margin-bottom: 0;
  }
}

.modal .modal-content div.inside div.co-check span.select-outline select {
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 46px;
  font-size: 14px;
  display: inline-block;
  padding: 0 30px 0 10px;
  border: 1px solid #cccccc;
}

.modal .modal-content div.inside div.co-check span.select-outline select::-ms-expand {
  display: none;
}

.modal .modal-content div.inside div.co-check span.select-outline::before, .modal .modal-content div.inside div.co-check span.select-outline::after {
  content: "";
  position: absolute;
  top: 22px;
  display: block;
  width: 8px;
  height: 1px;
  background: #999999;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.modal .modal-content div.inside div.co-check span.select-outline::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 12px;
}

.modal .modal-content div.inside div.co-check span.select-outline::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 6px;
}

.modal .modal-content div.inside div.co-check span.select-outline:focus-within::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal .modal-content div.inside div.co-check span.select-outline:focus-within::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal .modal-content div.inside div.co-check div.search-box {
  display: inline-block;
  border: 1px solid #ccc;
  background: #fff;
  width: 100%;
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside div.co-check div.search-box {
    width: calc(100% - 124px);
  }
}

.modal .modal-content div.inside div.co-check div.search-box input {
  height: 44px;
  border: none;
  width: calc(100% - 40px);
  font-size: 16px;
  vertical-align: top;
  padding: 0 10px;
}

.modal .modal-content div.inside div.co-check div.search-box button {
  width: 40px;
  height: 44px;
  border: none;
  background: none;
  color: #999999;
}

.modal .modal-content div.inside div.co-check div.search-box button i {
  font-size: 18px;
}

.modal .modal-content div.inside ul.co-list {
  position: relative;
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
  border-top: 2px solid #333;
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside ul.co-list {
    padding: 50px 0 0;
    border: none;
  }
  .modal .modal-content div.inside ul.co-list::before {
    content: "";
    height: 50px;
    background: #101010;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}

.modal .modal-content div.inside ul.co-list li {
  position: relative;
  font-size: 0;
  border: 1px solid #ccc;
  border-top: none;
  padding: 10px 20px 10px 10px;
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside ul.co-list li {
    padding: 0;
  }
}

.modal .modal-content div.inside ul.co-list li p {
  display: block;
  position: relative;
  vertical-align: top;
  font-size: 13px;
  padding: 0 0 2px;
  margin: 0;
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside ul.co-list li p {
    text-align: center;
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    line-height: 44px;
  }
}

.modal .modal-content div.inside ul.co-list li p.select {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.modal .modal-content div.inside ul.co-list li p.select span {
  display: none;
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside ul.co-list li p.select {
    position: relative;
    left: 0;
    top: 0;
    width: 16%;
  }
}

.modal .modal-content div.inside ul.co-list li p.select button {
  background: #1c7cc2;
  border: none;
  border-radius: 4px;
  color: #fff;
  height: 32px;
  padding: 0 10px;
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside ul.co-list li p.select button {
    height: 44px;
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside ul.co-list li p.num {
    width: 34%;
  }
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside ul.co-list li p.name {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside ul.co-list li p.ceo {
    width: 20%;
  }
}

.modal .modal-content div.inside ul.co-list li p span {
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside ul.co-list li p span {
    display: none;
    font-weight: 400;
  }
}

.modal .modal-content div.inside ul.co-list li p span::after {
  content: "|";
  display: inline-block;
  float: right;
  color: #bbb;
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside ul.co-list li p span::after {
    display: none;
  }
}

.modal .modal-content div.inside ul.co-list li p u {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .modal .modal-content div.inside ul.co-list li:first-child p span {
    display: block;
    width: auto;
    color: #fff;
    position: absolute;
    top: -46px;
    left: 0;
    right: 0;
  }
}

.modal .modal-content div.inside div.zeus-check {
  font-size: 0;
}

.modal .modal-content div.inside div.zeus-check input {
  height: 48px;
  border: none;
  width: 100%;
  outline: none;
  padding: 0 10px;
  margin: 0 0 10px;
  border: 1px solid #d4d4d4;
  font-size: 16px;
}

.modal .modal-content div.inside div.zeus-check span {
  display: inline-block;
  background: #f3f3f3;
  line-height: 46px;
  font-size: 14px;
  margin-right: 10px;
  padding: 0 10px;
  font-size: 16px;
  width: calc(100% - 150px);
}

.modal .modal-content div.inside div.zeus-check button {
  width: 120px;
  color: #fff;
  font-size: 16px;
  border: none;
  line-height: 46px;
  padding: 0;
  background: #1f222d;
  margin-right: 10px;
}

.modal .modal-content div.inside div.zeus-check button + input {
  width: calc(100% - 130px);
}

.modal .modal-content div.inside div.result {
  background: #f5f5f5;
  font-size: 18px;
  margin: 20px 0 6px;
  padding: 20px;
  text-align: center;
}

.modal .modal-content div.inside div.result strong {
  font-weight: 400;
  color: #1c7cc2;
}

.modal .modal-content div.inside div.result span {
  display: block;
}

.modal .modal-content div.inside div.result span strong {
  font-weight: 600;
}

.modal .modal-content div.inside div.btn-set.full {
  margin: 0;
}

.modal .modal-content div.inside div.btn-set.full button {
  width: 100%;
}

.modal .modal-content div.inside div.btn-set.zeus {
  margin: 10px 0;
}

.modal .modal-content div.inside div.btn-set.zeus button {
  background: #59a0a2;
  width: 100%;
  line-height: 36px;
}

.modal .modal-content div.inside div.maps div.map-outline {
  min-height: 200px;
  border: 1px solid #ccc;
}

.modal .modal-content div.inside div.date h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  border: none;
  margin: 20px 0 30px;
}

.modal .modal-content div.inside div.date h3::before {
  content: "";
  display: block;
  width: 50px;
  height: 37px;
  margin: 10px auto 20px;
  background: url("../images/icon-attention.svg") no-repeat center/100% auto;
}

.modal .modal-content div.inside div.passwd-check {
  font-size: 0;
}

.modal .modal-content div.inside div.passwd-check input {
  height: 48px;
  border: none;
  width: 100%;
  outline: none;
  padding: 0 10px;
  margin: 0 0 6px;
  border: 1px solid #d4d4d4;
  font-size: 16px;
}

.modal .modal-content div.inside div.passwd-check span {
  display: inline-block;
  font-size: 14px;
  color: #eb2828;
  padding: 0 0 10px;
  font-size: 16px;
  width: calc(100% - 150px);
}

.modal .modal-content div.inside div.passwd-check button {
  width: 120px;
  color: #fff;
  font-size: 16px;
  border: none;
  line-height: 46px;
  padding: 0;
  background: #1f222d;
  margin-right: 10px;
}

.modal .modal-content div.inside div.passwd-check button + input {
  width: calc(100% - 130px);
}

.modal .modal-content div.inside div.board-reply {
  font-size: 0;
}

.modal .modal-content div.inside div.board-reply textarea {
  height: 120px;
  border: none;
  width: 100%;
  outline: none;
  padding: 10px;
  margin: 0 0 6px;
  border: 1px solid #d4d4d4;
  font-size: 16px;
}

.modal .modal-content div.inside div.board-reply span {
  display: inline-block;
  font-size: 14px;
  color: #eb2828;
  padding: 0 0 10px;
  font-size: 16px;
  width: calc(100% - 150px);
}

.modal .modal-content div.inside div.board-reply button {
  width: 120px;
  color: #fff;
  font-size: 16px;
  border: none;
  line-height: 46px;
  padding: 0;
  background: #1f222d;
  margin-right: 10px;
}

.modal .modal-content div.inside div.board-reply button + input {
  width: calc(100% - 130px);
}

article.layer-popup {
  display: none;
}

@media all and (min-width: 1200px) {
  article.layer-popup {
    display: block;
    position: absolute;
    left: 0;
    top: 12vh;
    z-index: 1000;
    right: 0;
    text-align: center;
  }
  article.layer-popup .container {
    text-align: center;
  }
  article.layer-popup .container div.outline {
    font-size: 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin: 10px;
  }
  article.layer-popup .container div.outline a {
    display: block;
    font-size: 0;
  }
  article.layer-popup .container div.outline a img {
    max-width: 1000px;
  }
  article.layer-popup .container div.outline div.check {
    background: #222;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    text-align: left;
    position: relative;
  }
  article.layer-popup .container div.outline div.check input {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
  }
  article.layer-popup .container div.outline div.check button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    background: #555;
    color: #fff;
    padding: 0 10px;
  }
}

/* basic */
html {
  min-width: 320px;
  max-width: 100%;
  font-size: 14px;
  min-height: 100%;
}

html,
body {
  font-family: "S-CoreDream", "Malgun Gothic", "apple sd gothic neo", sans-serif;
}

body {
  /* header */
}

body .container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  text-align: left;
  vertical-align: top;
  padding: 0;
}

body header {
  position: relative;
  z-index: 800;
  background: #404040;
  line-height: 68px;
  position: relative;
}

body header h1 {
  margin: 0 0 0 20px;
}

body header h1 a {
  font-size: 28px;
  color: #fff;
  font-weight: 600px;
}

body header p.welcome {
  position: absolute;
  right: 310px;
  top: 0;
  margin: 0;
  padding: 0 30px;
  color: #fff;
}

body header p.welcome strong {
  font-weight: 600;
  padding: 0 6px 0 0;
}

body header button.logout {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  padding: 0;
  margin: 0;
  background: #74744D;
  width: 310px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

body header button.logout i {
  position: relative;
  top: 3px;
  font-size: 26px;
  margin-right: 4px;
}

body div#content {
  display: inline-block;
  width: 100%;
  position: relative;
  /* MAIN */
}

body div#content.main {
  background: #1E1E21;
}

body div#content.main section.status {
  position: relative;
  height: 114px;
  border-bottom: 8px solid #000000;
  overflow: hidden;
}

body div#content.main section.status ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

body div#content.main section.status ul li {
  display: inline-block;
  width: 310px;
  height: 106px;
  color: #fff;
  padding: 15px 10px 0 130px;
  border-right: 1px solid #434343;
}

body div#content.main section.status ul li.category01 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='67.414' height='53.783' viewBox='0 0 67.414 53.783'%3E%3Cg transform='translate(-445.79 -692.84)'%3E%3Cpath d='M587.063,723.895c-.384,0-7.281-.076-8.951-5.26a.935.935,0,0,1,1.779-.573c1.265,3.926,7.089,3.964,7.176,3.964h6.16a.936.936,0,0,0,.935-.935v-4.034a.931.931,0,0,0-.345-.725l-8.871-7.212a.935.935,0,0,1,1.179-1.45L595,714.881a2.793,2.793,0,0,1,1.035,2.175v4.034a2.807,2.807,0,0,1-2.8,2.8h-6.164Z' transform='translate(-82.828 -9.155)' fill='%23ff9b15'/%3E%3Cpath d='M589.78,700.175a.935.935,0,0,1-.891-.652l-1.353-4.268-.852,3.346a.935.935,0,0,1-1.812-.462l1.031-4.046a1.663,1.663,0,0,1,3.2-.092l1.572,4.958a.935.935,0,0,1-.891,1.217Z' transform='translate(-87.071)' fill='%23ff9b15'/%3E%3Cpath d='M572.89,718.848a7.411,7.411,0,0,1-3.225-.75,2.177,2.177,0,0,1-1.118-1.294,2.124,2.124,0,0,1,.167-1.683c2.529-4.578,5.29-3.428,5.406-3.377l-.752,1.711.035.014c-.478-.161-1.732.166-3.052,2.556a.267.267,0,0,0-.021.215.293.293,0,0,0,.153.177,4.666,4.666,0,0,0,4.245.117.935.935,0,0,1,1.121,1.5A5.064,5.064,0,0,1,572.89,718.848Z' transform='translate(-76.803 -11.735)' fill='%23ff9b15'/%3E%3Cpath d='M506.618,762.247h-.172a2.807,2.807,0,0,1-2.8-2.8V747.735a.935.935,0,0,0-.935-.935h-34.16a.936.936,0,0,0-.935.935v11.708a2.807,2.807,0,0,1-2.8,2.8h-.172a2.807,2.807,0,0,1-2.8-2.8V723.58a5.8,5.8,0,0,1,5.788-5.788h35.152a.935.935,0,0,1,0,1.869H467.623a3.924,3.924,0,0,0-3.919,3.919v35.863a.936.936,0,0,0,.935.935h.172a.936.936,0,0,0,.935-.935V747.735a2.807,2.807,0,0,1,2.8-2.8h34.16a2.807,2.807,0,0,1,2.8,2.8v11.708a.936.936,0,0,0,.935.935h.172a.936.936,0,0,0,.935-.935v-12.6a2.81,2.81,0,0,1,.081-.67l4.214-17.1a.935.935,0,0,1,1.815.447l-4.214,17.1a.938.938,0,0,0-.027.224v12.6A2.807,2.807,0,0,1,506.618,762.247Z' transform='translate(-10.047 -15.625)' fill='%23ff9b15'/%3E%3Cpath d='M480.071,798.912a7.586,7.586,0,0,1-7.457-6.185.935.935,0,0,1,1.837-.344,5.719,5.719,0,0,0,11.339-1.059.935.935,0,0,1,1.869,0A7.6,7.6,0,0,1,480.071,798.912Z' transform='translate(-16.786 -61.084)' fill='%23ff9b15'/%3E%3Cpath d='M452.266,751.549a.934.934,0,0,1-.935-.935v-18.6a5.083,5.083,0,0,1,5.077-5.077.935.935,0,0,1,0,1.869,3.211,3.211,0,0,0-3.207,3.208v18.6A.935.935,0,0,1,452.266,751.549Z' transform='translate(-3.47 -21.353)' fill='%23ff9b15'/%3E%3Cpath d='M448.8,796a.935.935,0,0,1-.781-.421c-.522-.794-2.225-3.485-2.225-4.806a3.006,3.006,0,0,1,6.011,0c0,1.321-1.7,4.012-2.225,4.806A.934.934,0,0,1,448.8,796Zm0-6.363a1.138,1.138,0,0,0-1.137,1.136,8.812,8.812,0,0,0,1.136,2.511,8.83,8.83,0,0,0,1.137-2.511A1.138,1.138,0,0,0,448.8,789.638Z' transform='translate(0 -59.442)' fill='%23ff9b15'/%3E%3Cpath d='M491.025,811.8a.934.934,0,0,1-.935-.935v-1.75a.935.935,0,1,1,1.869,0v1.75A.934.934,0,0,1,491.025,811.8Z' transform='translate(-27.739 -72.227)' fill='%23ff9b15'/%3E%3Cpath d='M501.429,808.8a.934.934,0,0,1-.935-.935v-1.75a.935.935,0,0,1,1.869,0v1.75A.935.935,0,0,1,501.429,808.8Z' transform='translate(-34.254 -70.348)' fill='%23ff9b15'/%3E%3Cpath d='M481.014,808.8a.934.934,0,0,1-.935-.935v-1.75a.935.935,0,0,1,1.869,0v1.75A.935.935,0,0,1,481.014,808.8Z' transform='translate(-21.471 -70.348)' fill='%23ff9b15'/%3E%3Cpath d='M601.9,727.656a.935.935,0,0,1-.935-.935v-.7a.935.935,0,1,1,1.869,0v.7A.934.934,0,0,1,601.9,727.656Z' transform='translate(-97.168 -20.192)' fill='%23ff9b15'/%3E%3Cpath d='M610.914,740.161a.934.934,0,0,1-.934-.915c-.094-4.5,3.281-5.769,5.079-5.808a.935.935,0,0,1,.045,1.869c-.345.012-3.332.223-3.255,3.9a.934.934,0,0,1-.915.954Z' transform='translate(-102.81 -25.422)' fill='%23ff9b15'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat left 30px bottom 30px/67.4px auto;
  background-color: #000;
}

body div#content.main section.status ul li.category02 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62.502' height='39.191' viewBox='0 0 62.502 39.191'%3E%3Cg transform='translate(-1073.877 -708.239)'%3E%3Cpath d='M1125.842,749.012h-2.368a2.6,2.6,0,0,1-2.6-2.6v-7.78c-9.527,3.22-19.922.869-23.337-.076v7.856a2.6,2.6,0,0,1-2.6,2.6h-3.281a2.6,2.6,0,0,1-2.6-2.6v-9.133a.889.889,0,0,0-.428-.744c-4.89-3.122-4.845-7.952-4.8-13.065,0-.51.009-1.025.009-1.545a11.277,11.277,0,0,1,11.264-11.264h31a13.721,13.721,0,0,1,6.76,1.827.866.866,0,1,1-.872,1.5,11.993,11.993,0,0,0-5.9-1.592h-30.981a9.543,9.543,0,0,0-9.531,9.531c0,.526,0,1.046-.009,1.561-.047,5.018-.084,8.983,4,11.588a2.614,2.614,0,0,1,1.228,2.2v9.133a.868.868,0,0,0,.867.867h3.281a.868.868,0,0,0,.867-.867V737.4a.867.867,0,0,1,1.138-.823c.133.044,13.436,4.339,24.483.016a.866.866,0,0,1,1.182.807v9.017a.868.868,0,0,0,.867.867h2.368a.868.868,0,0,0,.866-.867v-9.9a.867.867,0,0,1,1.733,0v9.9A2.6,2.6,0,0,1,1125.842,749.012Z' transform='translate(-6.499 -1.583)' fill='%23ffbecd'/%3E%3Cpath d='M1201.965,742.768a13.2,13.2,0,0,1-6.255-1.737.867.867,0,0,1,.819-1.527c7.755,4.154,12.323-1.257,13.927-3.777a2.579,2.579,0,0,1,2.188-1.2h.443a.867.867,0,0,0,.866-.866v-2.088a.867.867,0,0,0-.866-.866h-1.437a.866.866,0,0,1-.819-.584,12.235,12.235,0,0,0-3.1-4.78.867.867,0,0,1,1.073-1.361,13.016,13.016,0,0,1,3.44,4.992h.843a2.6,2.6,0,0,1,2.6,2.6v2.088a2.6,2.6,0,0,1-2.6,2.6h-.443a.855.855,0,0,0-.726.394C1210.828,738.37,1207.483,742.768,1201.965,742.768Z' transform='translate(-79.307 -10.167)' fill='%23ffbecd'/%3E%3Cpath d='M1217.614,717.093a.867.867,0,0,1-.3-1.679c1.931-.715,2.245-3.151,2.234-4.74l-5.608,3.849a.867.867,0,0,1-.981-1.429l6.853-4.7a.867.867,0,0,1,1.345.575c.043.264,1.006,6.5-3.242,8.073A.863.863,0,0,1,1217.614,717.093Z' transform='translate(-90.63)' fill='%23ffbecd'/%3E%3Cpath d='M1227.743,742.867a.866.866,0,0,1-.867-.867v-.649a.867.867,0,1,1,1.733,0V742A.866.866,0,0,1,1227.743,742.867Z' transform='translate(-99.971 -21.069)' fill='%23ffbecd'/%3E%3Cpath d='M1074.743,731.455a.866.866,0,0,1-.866-.866,4.983,4.983,0,0,1,1.652-4.121,5.484,5.484,0,0,1,4.243-.849.866.866,0,0,1-.377,1.691,3.759,3.759,0,0,0-2.791.516,3.38,3.38,0,0,0-.994,2.762A.866.866,0,0,1,1074.743,731.455Z' transform='translate(0 -11.283)' fill='%23ffbecd'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat left 30px bottom 30px/62.5px auto;
}

body div#content.main section.status ul li.category03 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48.309' height='46.135' viewBox='0 0 48.309 46.135'%3E%3Cg transform='translate(-131.993 -1434.494)'%3E%3Cpath d='M161.17,1485.119h-1.254a3.542,3.542,0,0,1-3.538-3.538v-1.433a.672.672,0,0,1,1.343,0v1.433a2.2,2.2,0,0,0,2.194,2.194h1.254a2.2,2.2,0,0,0,2.194-2.194v-.985a.672.672,0,0,1,.214-.492.66.66,0,0,1,.506-.178,9.741,9.741,0,0,0,8.1-2.812c5.887-6.084,4.494-19.889,4.48-20.028a.672.672,0,0,1,.375-.676l1.27-.615c-.423-.294-.926-.636-1.358-.912a.673.673,0,0,1-.246-.28c-.98-2.077-2.69-3.508-4.357-3.646-1.531-.127-3.03.8-4.335,2.684a21.978,21.978,0,0,1-5.345,5.249c-4.46,3.051-9.231,3.511-13.8,1.333-4.824-2.3-9.931-1.772-13.01,1.349-2.384,2.417-3.092,5.861-2.055,9.546.688-3.447,2.688-7.184,5.914-7.841a.672.672,0,0,1,.692,1.033,24.784,24.784,0,0,0-3.13,15.248c.97-3.4,2.852-8.475,5.648-9.533a.672.672,0,0,1,.867.394c2.06,5.533,7.664,7.743,10.821,8.568a.672.672,0,1,1-.339,1.3c-3.274-.856-8.992-3.109-11.453-8.691-2.577,1.821-4.542,8.806-5,11.355a.672.672,0,0,1-1.315.036,26.622,26.622,0,0,1,1.753-17.552c-2.229,1.788-3.478,5.819-3.381,8.563a.672.672,0,0,1-1.274.321c-2.551-5.166-2.067-10.284,1.293-13.69,3.487-3.534,9.2-4.169,14.544-1.618,9.972,4.758,17.382-6.019,17.455-6.128,2.019-2.913,4.133-3.384,5.555-3.265a7.069,7.069,0,0,1,5.376,4.235c.968.628,2.134,1.467,2.186,1.5a.672.672,0,0,1-.1,1.15l-1.878.908c.212,2.585.859,14.682-4.891,20.629a10.824,10.824,0,0,1-8.447,3.255v.279A3.541,3.541,0,0,1,161.17,1485.119Z' transform='translate(0 -11.051)' fill='%23ff8b7e'/%3E%3Cpath d='M255.573,1443.457a.65.65,0,0,1-.085-.005,2.777,2.777,0,0,1-.117-5.49,3.787,3.787,0,0,1,7.134-1.425,2.776,2.776,0,0,1,2.17,5.036.672.672,0,1,1-.718-1.135,1.432,1.432,0,0,0-1.484-2.449.672.672,0,0,1-.983-.392,2.444,2.444,0,0,0-4.777.938.672.672,0,0,1-.731.738c-.046,0-.093-.007-.141-.007a1.433,1.433,0,0,0-.185,2.854.672.672,0,0,1-.084,1.338Z' transform='translate(-88.543 0)' fill='%23ff8b7e'/%3E%3Cpath d='M284.9,1469.3h-.291a.672.672,0,0,1,0-1.343h.291a.672.672,0,0,1,0,1.343Z' transform='translate(-111.122 -24.47)' fill='%23ff8b7e'/%3E%3Cpath d='M196.433,1514.29c-5.929,0-10.135-2.588-12.833-7.879a.671.671,0,0,1,.686-.971c3.386.446,9.826.02,13.541-2.322,1.186-.748,4.2-2.372,6.55-1.3a4,4,0,0,1,2.186,3.327l0,.013a8.495,8.495,0,0,1-1.728,6.01c-1.5,1.828-3.835,2.861-6.943,3.068Q197.148,1514.29,196.433,1514.29Zm-11.027-7.392c2.67,4.415,6.737,6.38,12.4,6,2.716-.182,4.729-1.046,5.985-2.568a7.237,7.237,0,0,0,1.444-4.991,2.759,2.759,0,0,0-1.415-2.3c-1.2-.55-3.22-.084-5.275,1.211C195.149,1506.394,189.543,1507.169,185.406,1506.9Z' transform='translate(-37.688 -48.977)' fill='%23ff8b7e'/%3E%3Cpath d='M236.595,1584.7a.672.672,0,0,1-.672-.672v-6.561a.672.672,0,0,1,1.343,0v6.561A.672.672,0,0,1,236.595,1584.7Z' transform='translate(-76.007 -104.066)' fill='%23ff8b7e'/%3E%3Cpath d='M231.2,1597.084a.671.671,0,0,1-.346-.1l-2.991-1.8L225,1596.982a.672.672,0,0,1-.713-1.139l3.21-2.009a.671.671,0,0,1,.7-.006l3.345,2.009a.672.672,0,0,1-.347,1.247Z' transform='translate(-67.269 -116.455)' fill='%23ff8b7e'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat left 30px bottom 30px/48.3px auto;
}

body div#content.main section.status ul li.category04 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49.403' height='45.739' viewBox='0 0 49.403 45.739'%3E%3Cg transform='translate(-1387.916 -429.435)'%3E%3Cpath d='M1484.769,466.7a.685.685,0,0,1-.632-.421c-2.381-5.7,1.909-7.908,1.953-7.93a.685.685,0,0,1,.608,1.228c-.122.062-2.922,1.55-1.507,5.625,4.146-1.191,3.749-4.337,3.729-4.477a.685.685,0,0,1,1.354-.206c.008.048.678,4.824-5.356,6.164A.676.676,0,0,1,1484.769,466.7Z' transform='translate(-69.339 -20.944)' fill='%23b3c6d2'/%3E%3Cpath d='M1539.889,481.459a.685.685,0,0,1-.685-.685v-.545a.685.685,0,1,1,1.37,0v.545A.685.685,0,0,1,1539.889,481.459Z' transform='translate(-109.843 -36.382)' fill='%23b3c6d2'/%3E%3Cpath d='M1548.279,477.415h-4.133a.685.685,0,1,1,0-1.37h4.133a.6.6,0,0,0,.6-.6v-2.466a.6.6,0,0,0-.254-.492l-4.715-3.354a.685.685,0,0,1,.794-1.116l4.714,3.353a1.977,1.977,0,0,1,.829,1.608v2.466A1.976,1.976,0,0,1,1548.279,477.415Z' transform='translate(-112.934 -27.918)' fill='%23b3c6d2'/%3E%3Cpath d='M1521.111,568.38h-.849a1.976,1.976,0,0,1-1.974-1.974v-7.232a.685.685,0,1,1,1.37,0v7.232a.6.6,0,0,0,.6.6h.849a.6.6,0,0,0,.6-.6v-7.913a.685.685,0,1,1,1.37,0v7.913A1.976,1.976,0,0,1,1521.111,568.38Z' transform='translate(-94.657 -93.206)' fill='%23b3c6d2'/%3E%3Cpath d='M1411.45,563.353h-.849a1.976,1.976,0,0,1-1.974-1.974V551.57a.685.685,0,1,1,1.37,0v9.809a.6.6,0,0,0,.6.6h.849a.6.6,0,0,0,.6-.6v-7.232a.685.685,0,1,1,1.37,0v7.232A1.976,1.976,0,0,1,1411.45,563.353Z' transform='translate(-15.037 -88.179)' fill='%23b3c6d2'/%3E%3Cpath d='M1407.83,469.757a5.016,5.016,0,0,1-4.192-2.273,3.915,3.915,0,0,1-6.581-1.949,3.023,3.023,0,0,1-3.219-1.439h-.009c-2.811,0-4.938-2.282-5.631-4.676a5.375,5.375,0,0,1,.485-4.571,4.481,4.481,0,0,1,1.433-1.409,4.087,4.087,0,0,1-.77-4.678,3.972,3.972,0,0,1,4.335-2.21,5.832,5.832,0,0,1,3.224-3.457,5.9,5.9,0,0,1,4.827.792,5.693,5.693,0,0,1,3.928-1.576,5.479,5.479,0,0,1,2.266.575,4.159,4.159,0,0,1,.312-2.593,4.571,4.571,0,0,1,2.568-2.161,4.022,4.022,0,0,1,.069-.732,4.076,4.076,0,0,1,3.6-3.284.593.593,0,0,0,.492-.461,4.466,4.466,0,0,1,6.776-2.536.651.651,0,0,0,.82-.13,5.121,5.121,0,0,1,8.725,2.705.685.685,0,0,0,.387.507,3.9,3.9,0,0,1,2.158,4.2,3.328,3.328,0,0,1-4.435,2.908.6.6,0,0,0-.691.313,3.446,3.446,0,0,1-6.13.319.685.685,0,0,1,1.186-.686,2.076,2.076,0,0,0,3.692-.189,1.968,1.968,0,0,1,2.248-1.093,2.376,2.376,0,0,0,1.967-.221,2.309,2.309,0,0,0,.8-1.478,2.558,2.558,0,0,0-1.385-2.842,2.064,2.064,0,0,1-1.147-1.514,3.751,3.751,0,0,0-6.391-1.981,2.02,2.02,0,0,1-2.563.317,3.07,3.07,0,0,0-1.708-.516,3.106,3.106,0,0,0-2.988,2.275,1.949,1.949,0,0,1-1.682,1.462,2.68,2.68,0,0,0-2.4,3.052.685.685,0,0,1-.539.767,3.5,3.5,0,0,0-2.2,1.605,3.973,3.973,0,0,0,.4,3.459.685.685,0,0,1-1.119.765,4.946,4.946,0,0,0-3.131-1.447,4.573,4.573,0,0,0-3.3,1.539.685.685,0,0,1-.832.1c-1.684-1.005-3.032-1.31-4.124-.931-1.07.372-1.954,1.455-2.626,3.22a.686.686,0,0,1-.858.405,2.606,2.606,0,0,0-3.292,1.345,2.835,2.835,0,0,0,1.237,3.716.685.685,0,0,1-.277,1.251,2.773,2.773,0,0,0-1.7,1.265,4.051,4.051,0,0,0-.321,3.448c.449,1.551,2.122,3.919,4.695,3.668a.682.682,0,0,1,.713.456c.54,1.54,2.432.918,2.512.891a.684.684,0,0,1,.9.648,2.544,2.544,0,0,0,4.807,1.164.685.685,0,0,1,1.255.087,3.636,3.636,0,0,0,6.851.035.685.685,0,0,1,1.252-.079,2.542,2.542,0,0,0,4.39.23.7.7,0,0,1,.58-.309.686.686,0,0,1,.573.322,3.094,3.094,0,0,0,5.724-1.635.685.685,0,0,1,1.055-.576,4.141,4.141,0,0,0,3.6.5,5.352,5.352,0,0,0,3.2-2.912,5.234,5.234,0,0,0-.663-4.92.67.67,0,0,1-.439-.607.688.688,0,0,1,.4-.646c.17-.086,1.7-.933,1.058-3.387a.685.685,0,1,1,1.325-.346,4.317,4.317,0,0,1-1.019,4.421,4.682,4.682,0,0,1,.444.8,6.938,6.938,0,0,1,.164,5.2,6.7,6.7,0,0,1-4.052,3.706,5.407,5.407,0,0,1-3.829-.161,4.465,4.465,0,0,1-7.568,2.015,3.913,3.913,0,0,1-5.441-.082A5.027,5.027,0,0,1,1407.83,469.757Z' fill='%23b3c6d2'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat left 30px bottom 30px/49.4px auto;
}

body div#content.main section.status ul li span {
  font-size: 18px;
}

body div#content.main section.status ul li strong {
  display: block;
  font-size: 36px;
  font-weight: 600;
}

body div#content.main section.status div.weather {
  position: absolute;
  right: 0;
  top: 0;
  width: 310px;
  height: 106px;
  background: #404040;
  color: #fff;
  padding: 26px 26px 0 142px;
}

body div#content.main section.status div.weather i {
  position: absolute;
  left: 40px;
  font-size: 60px;
}

body div#content.main section.status div.weather span {
  font-size: 18px;
}

body div#content.main section.status div.weather strong {
  display: block;
  font-size: 26px;
  font-weight: 600;
}

body div#content.main section.main-wall {
  display: inline-block;
  position: relative;
  width: 100%;
  height: calc(100vh - 186px);
}

body div#content.main section.main-wall div.left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 310px;
  padding: 30px 15px;
}

body div#content.main section.main-wall div.left h2 {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  margin: 0 0 10px;
}

body div#content.main section.main-wall div.left h2 small {
  position: absolute;
  right: 0;
  bottom: 4px;
  font-weight: 400;
  font-size: 12px;
}

body div#content.main section.main-wall div.left div.left-scroller {
  max-height: calc(100vh - 256px);
  overflow: hidden;
}

body div#content.main section.main-wall div.left div.left-scroller ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body div#content.main section.main-wall div.left div.left-scroller ul.list li {
  background: #fff;
  margin-bottom: 12px;
  font-size: 0;
}

body div#content.main section.main-wall div.left div.left-scroller ul.list li h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
  padding: 15px 10px 0;
}

body div#content.main section.main-wall div.left div.left-scroller ul.list li p.location {
  display: inline-block;
  font-size: 14px;
  width: 50%;
  margin: 0;
  padding: 0 10px;
  font-weight: 200;
}

body div#content.main section.main-wall div.left div.left-scroller ul.list li p.count {
  display: inline-block;
  font-size: 14px;
  width: 50%;
  margin: 0;
  padding: 0 10px;
  text-align: right;
  font-weight: 600;
}

body div#content.main section.main-wall div.left div.left-scroller ul.list li div.stat {
  margin: 15px 0 0;
}

body div#content.main section.main-wall div.left div.left-scroller ul.list li div.stat span {
  display: inline-block;
  vertical-align: top;
  background: #aaa;
  height: 31px;
  line-height: 30px;
  text-align: center;
  width: 50%;
  font-size: 12px;
  color: #fff;
}

body div#content.main section.main-wall div.left div.left-scroller ul.list li div.stat span strong {
  font-size: 14px;
  font-weight: 600;
}

body div#content.main section.main-wall div.left div.left-scroller ul.list li div.stat span.stat01.on {
  background: #007EAC;
}

body div#content.main section.main-wall div.left div.left-scroller ul.list li div.stat span.stat02.on {
  background: #AC003B;
}

body div#content.main section.main-wall div.center {
  position: absolute;
  left: 310px;
  right: 310px;
  top: 0;
  bottom: 0;
}

body div#content.main section.main-wall div.center div.map-area {
  position: relative;
  display: inline-block;
  width: 100%;
  background: #999;
  height: calc(100vh - 308px);
}

body div#content.main section.main-wall div.center div.map-area ul.legend {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 45px;
  background: rgba(255, 255, 255, 0.6);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

body div#content.main section.main-wall div.center div.map-area ul.legend li {
  display: inline-block;
  position: relative;
  padding: 0 30px 0 50px;
}

body div#content.main section.main-wall div.center div.map-area ul.legend li::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 10px;
  width: 24px;
  height: 24px;
  background: #555;
  border-radius: 50%;
}

body div#content.main section.main-wall div.center div.map-area ul.legend li.tag01::before {
  background: #AC003B;
}

body div#content.main section.main-wall div.center div.map-area ul.legend li.tag02::before {
  background: #676767;
}

body div#content.main section.main-wall div.center div.map-area ul.legend li.tag03::before {
  background: #2171C0;
}

body div#content.main section.main-wall div.center div.output {
  display: inline-block;
  width: 100%;
  height: 122px;
  background: #000000;
  color: #FFFAD2;
  padding: 20px;
}

body div#content.main section.main-wall div.center div.output p {
  margin: 0 0 10px;
}

body div#content.main section.main-wall div.center div.output p.alert {
  color: #FF577E;
}

body div#content.main section.main-wall div.center div.output p strong {
  display: inline-block;
  font-weight: 400;
  min-width: 180px;
}

body div#content.main section.main-wall div.right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 310px;
  padding: 30px 15px;
}

body div#content.main section.main-wall div.right h2 {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  margin: 0 0 10px;
}

body div#content.main section.main-wall div.right h2 small {
  position: absolute;
  right: 0;
  bottom: 4px;
  font-weight: 400;
  font-size: 12px;
}

body div#content.main section.main-wall div.right div.right-scroller {
  max-height: calc(100vh - 256px);
  overflow: hidden;
}

body div#content.main section.main-wall div.right div.right-scroller ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body div#content.main section.main-wall div.right div.right-scroller ul.list li {
  background: #000;
  color: #fff;
  margin-bottom: 12px;
  font-size: 0;
  border-left: 3px solid #AC003B;
}

body div#content.main section.main-wall div.right div.right-scroller ul.list li h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 6px;
  padding: 15px 15px 0;
}

body div#content.main section.main-wall div.right div.right-scroller ul.list li p.location {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 0 15px;
  font-weight: 200;
}

body div#content.main section.main-wall div.right div.right-scroller ul.list li div.stat {
  margin: 15px 0 0;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  background: #404040;
  line-height: 36px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */